@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #222831;
  text-align: center;
  justify-content: center;
  align-items: center;
}

li,
p,
a,
button {
  font-weight: 800;
  font-size: 18px;
  color: #76abae;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-weight: 600;
  font-size: 13px;
  padding: 9px 10px;
  border-radius: 50px;
  background-color: rgba(0, 136, 169, 1);
  color: black;
  border: none;
  transition: all 0.3s ease 0s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #eeeeee;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 24px;
  background: #f6f6f6;
  margin: auto;
}

.search-input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.active {
  text-decoration: underline;
}

.backhome {
  color: blue;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px;
  border: 1px solid #76abae;
  margin: auto;
}

#fullname,
#position,
#shoots,
#playstyle {
  width: 95%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#create {
  font-weight: 700;
  width: 20%;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #76abae;
}

#create:hover {
  outline: 0;
  background-color: rgba(0, 136, 169, 0.8);
}

label {
  color: #76abae;
  font-weight: 700;
}

#player {
  margin: auto;
  display: flex;
  width: 600px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 5px;
  flex-direction: column;
}

#player-view {
  margin: auto;
  display: flex;
  width: 600px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 5px;
  flex-direction: column;
}

#player h2 a {
  font-size: 37px;
}

#player-view h2 a {
  font-size: 38px;
}

#player p {
  font-size: 22px;
  color: #b6bbc4;
  margin-top: 10px;
}

#player-view p {
  font-size: 17px;
  color: #b6bbc4;
  margin-top: 10px;
}

#history {
  margin: auto;
  width: 1000px;
  height: 120px;
  margin-bottom: 15px;
}

#history p {
  display: inline-block;
  margin-top: 13px;
  color: #b6bbc4;
}

#stats {
  margin: auto;
  width: 850px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

#selectOption {
  margin-top: 5px;
  border: none;
  appearance: none;
  width: 120px;
  height: 20px;
  background-color: rgba(0, 136, 169, 1);
  color: black;
  font-size: 13px;
  padding: 0 30px 0 15px;
}

#sort {
  position: absolute;
  left: 1770px;
  top: 18px;
}

#sort p {
  font-size: 15px;
}

#container-view {
  border: 1px solid black;
  width: 100%;
  margin-top: 30px;
}

#table {
  border-collapse: collapse;
  margin: 25px;
  font-size: 18px;
  font-weight: 700;
  min-width: 400px;
  color: #b6bbc4;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

#table thead tr {
  background-color: #76abae;
  color: #222831;
  font-weight: 900;
  font-size: 20px;
}

#table th,
#table td {
  padding: 11px 12px;
}

#table tbody tr {
  border-bottom: 1px solid #dddd;
}

#table tbody tr:last-of-type {
  border-bottom: 2px solid #76abae;
}

#table tbody tr:hover {
  font-weight: 900;
  color: #76abae;
}

#comment-section {
  margin: auto;
  border: 1px solid black;
  width: 900px;
}

#comment-form-div {
  margin: auto;
  border: 1px solid black;
  width: 500px;
  height: 230px;
}
#comment-form-div p {
  font-size: 23px;
  margin-bottom: 15px;
}

#comment-section input {
  width: 90%;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid;
}

#comment-section input:focus {
  outline: 0;
}

#comment-section textarea {
  width: 90%;
  height: 80px;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 5px;
}

#comment-section textarea:focus {
  outline: 0;
}
